<%= form_with(model: produto) do |form| %>

    <div class="row">
        <div class="col-12">
            <%= form.label :nome, class: 'form-label' %>
            <%= form.text_field :nome, class: 'form-control' %>
        </div>
        <div class="col-12">
            <%= form.label :preco, class: 'form-label' %>
            <%= form.number_field :preco, class: 'form-control' %>
        </div>
        <div class="col-6 mt-3">
            <%= form.submit 'Cadastrar', class: 'btn btn-outline-primary' %>
        </div>
        <div class="col-6 mt-3">
            <%= link_to 'Cancelar', produtos_path, class: 'btn btn-outline-danger' %>
        </div>
    </div>
<% end %>