<h1>Nova Venda</h1>

<ul>
    <li>
        <%= form_with(model: @venda) do |form| %>

            <%= form.fields_for :item do |item_form| %>
              <div class="row">
                <div class="col-4">
                  <%= item_form.label :produto_id, class: 'form-label' %>
                  <%= item_form.select :produto_id, Produto.all.map {|p| [p.nome, p.id]}, {}, class: 'form-select' %>
                </div>
                <div class="col-2">
                  <%= item_form.label :preco_unitario, class: 'form-label' %>
                  <%= item_form.number_field :preco_unitario, class: 'form-control' %>
                </div>
                <div class="col-2">
                  <%= item_form.label :quantidade, class: 'form-label' %>
                  <%= item_form.number_field :quantidade, class: 'form-control' %>
                </div>
                <div class="col-2 text-center mt-4">
                  <%= link_to '', '#', class: 'nav-link bi bi-trash text-danger' %>
                </div>
              </div>
            <% end %>
            <%= form.fields_for :item do |item_form| %>
              <div class="row">
                <div class="col-4">
                  <%= item_form.label :produto_id, class: 'form-label' %>
                  <%= item_form.select :produto_id, Produto.all.map {|p| [p.nome, p.id]}, {}, class: 'form-select' %>
                </div>
                <div class="col-2">
                  <%= item_form.label :preco_unitario, class: 'form-label' %>
                  <%= item_form.number_field :preco_unitario, class: 'form-control' %>
                </div>
                <div class="col-2">
                  <%= item_form.label :quantidade, class: 'form-label' %>
                  <%= item_form.number_field :quantidade, class: 'form-control' %>
                </div>
                <div class="col-2 text-center mt-4">
                  <%= link_to '', '#', class: 'nav-link bi bi-trash text-danger' %>
                </div>
              </div>
            <% end %>
            <div class="col-12 pt-4">
              <%= form.submit 'Cadastrar' , class: 'btn btn-primary' %>
            </div>
        <% end %>
    </li>
</ul>

<p><%= @venda.total %></p>